/* Drupal settings */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
  }

  #header, #content, #navigation, .region-sidebar-first, .region-sidebar-second, #footer {
    word-wrap: break-word;
  }

h1 {
    font-weight: 400;
    font-size: 2.15em;
    margin-bottom: 25px;
    line-height: 1.3;
  }

  h2 {
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 15px;
    line-height: 1.3;
  }

body {
    color: #444;
    font-family: "myriad-pro",arial,sans-serif;
    font-size: 21px;
  }

  p {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 1.4;
  }

  strong, b {
    font-weight: 600;
  }


 a {
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    text-decoration: underline;
    }

a:hover, article a:focus {
    color: #444;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
  }

  /*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * myriad-pro:
 *   - http://typekit.com/eulas/00000000000000000001709e
 *   - http://typekit.com/eulas/00000000000000000001709f
 *   - http://typekit.com/eulas/00000000000000000001709b
 *   - http://typekit.com/eulas/00000000000000000001709a
 *   - http://typekit.com/eulas/00000000000000000001709c
 *   - http://typekit.com/eulas/00000000000000000001709d
 * myriad-pro-condensed:
 *   - http://typekit.com/eulas/0000000000000000000170a8
 *   - http://typekit.com/eulas/0000000000000000000170a4
 *   - http://typekit.com/eulas/0000000000000000000170a6
 *   - http://typekit.com/eulas/0000000000000000000170a9
 *   - http://typekit.com/eulas/0000000000000000000170a5
 *   - http://typekit.com/eulas/0000000000000000000170a7
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2018-02-02 12:32:57 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=jhk6rhg&ht=tk&f=6808.6809.6811.8415.8416.8418.6846.6847.6848.6851.6852.6853&a=1380376&app=typekit&e=css");

@font-face {
font-family:"myriad-pro-condensed";
src:url("https://use.typekit.net/af/c63dde/0000000000000000000170a8/27/l?subset_id=2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/c63dde/0000000000000000000170a8/27/d?subset_id=2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/c63dde/0000000000000000000170a8/27/a?subset_id=2&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"myriad-pro-condensed";
src:url("https://use.typekit.net/af/f72c04/0000000000000000000170a4/27/l?subset_id=2&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/f72c04/0000000000000000000170a4/27/d?subset_id=2&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/f72c04/0000000000000000000170a4/27/a?subset_id=2&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"myriad-pro-condensed";
src:url("https://use.typekit.net/af/9369f8/0000000000000000000170a6/27/l?subset_id=2&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/9369f8/0000000000000000000170a6/27/d?subset_id=2&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/9369f8/0000000000000000000170a6/27/a?subset_id=2&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"myriad-pro-condensed";
src:url("https://use.typekit.net/af/24a439/0000000000000000000170a9/27/l?subset_id=2&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/24a439/0000000000000000000170a9/27/d?subset_id=2&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/24a439/0000000000000000000170a9/27/a?subset_id=2&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"myriad-pro-condensed";
src:url("https://use.typekit.net/af/af66cf/0000000000000000000170a5/27/l?subset_id=2&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/af66cf/0000000000000000000170a5/27/d?subset_id=2&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/af66cf/0000000000000000000170a5/27/a?subset_id=2&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"myriad-pro-condensed";
src:url("https://use.typekit.net/af/a17916/0000000000000000000170a7/27/l?subset_id=2&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/a17916/0000000000000000000170a7/27/d?subset_id=2&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/a17916/0000000000000000000170a7/27/a?subset_id=2&fvd=i6&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"myriad-pro";
src:url("https://use.typekit.net/af/1b1b1e/00000000000000000001709e/27/l?subset_id=2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/1b1b1e/00000000000000000001709e/27/d?subset_id=2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/1b1b1e/00000000000000000001709e/27/a?subset_id=2&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"myriad-pro";
src:url("https://use.typekit.net/af/2e2357/00000000000000000001709f/27/l?subset_id=2&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/2e2357/00000000000000000001709f/27/d?subset_id=2&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/2e2357/00000000000000000001709f/27/a?subset_id=2&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"myriad-pro";
src:url("https://use.typekit.net/af/d32e26/00000000000000000001709b/27/l?subset_id=2&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/d32e26/00000000000000000001709b/27/d?subset_id=2&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/d32e26/00000000000000000001709b/27/a?subset_id=2&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"myriad-pro";
src:url("https://use.typekit.net/af/cafa63/00000000000000000001709a/27/l?subset_id=2&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/cafa63/00000000000000000001709a/27/d?subset_id=2&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/cafa63/00000000000000000001709a/27/a?subset_id=2&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"myriad-pro";
src:url("https://use.typekit.net/af/80c5d0/00000000000000000001709c/27/l?subset_id=2&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/80c5d0/00000000000000000001709c/27/d?subset_id=2&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/80c5d0/00000000000000000001709c/27/a?subset_id=2&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"myriad-pro";
src:url("https://use.typekit.net/af/d50a1b/00000000000000000001709d/27/l?subset_id=2&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/d50a1b/00000000000000000001709d/27/d?subset_id=2&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/d50a1b/00000000000000000001709d/27/a?subset_id=2&fvd=i6&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:600;font-stretch:normal;
}

.tk-myriad-pro-condensed { font-family: "myriad-pro-condensed",sans-serif; }
.tk-myriad-pro { font-family: "myriad-pro",sans-serif; }


/* header logo */

header#header {
    border-bottom: solid 10px #ff5c39 !important;
    background: #fff;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    word-wrap: break-word;
  }

img.header__logo-image {
    width: 15em;
    margin: 1em 3em;
}

@media (max-width: 450px) {
    img.header__logo-image {
        width: 70%;
        margin: 1em 3em;
    }

}

/* videowrapper */

.videowrapper {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 1.1em;
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}