/* drupal settings */

#content article ul, #content article ol, .formatted-lists ul, .formatted-lists ol {
    margin: 0 0 25px;
}

#content article ul li, #content article ol li, .formatted-lists ul li, .formatted-lists ol li {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.4;
    list-style: none;
    padding-left: 50px;
    text-indent: -0.2em;
    background-size: 5px auto;
    margin-bottom: 14px;
    position: relative;
}

body {
    margin: 0 95px !important;
}

/* ECC Wheel */



.ecc-intro-container .ecc-wheel-map {
    width: 715px;
    position: relative;
    margin: -78px 0 0 20px;
}

.ecc-intro-container {
    overflow: hidden;
    padding: 30px 0 0 85px;
    margin-top: 25px;
}

.ecc-intro-container .eccwheel-region-stacked, .ecc-intro-container .eccwheel-region {
    text-align: center;
    font-size: 16px !important;
    text-shadow: none !important;
    z-index: 0 !important;
    color: #1d4f91;
    background-color: #FFF;
  }
  
  .ecc-intro-container .ecc-menu-stacked .ecc-subject {
    display: inline;
    width: 96%;
    float: right;
    font-weight: 600;
    padding: 6px;
    border: 4px solid;
    border-radius: 10px;
    margin-bottom: 11.5px;
  }
  
  .ecc-intro-container .ecc-menu-stacked .ecc-block {
    overflow: hidden;
  }
  
  .ecc-intro-container .ecc-menu-stacked .ecc-puzzle {
    float: left;
    z-index: 1;
  }
  
  .ecc-intro-container .ecc-menu-stacked .ecc-puzzle img {
    width: 92px;
    height: auto;
  }

  @media (max-width: 1100px) {
    .ecc-intro-container {
     padding: 0 4%;
    }

    .ecc-intro-container .ecc-wheel-map {
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .ecc-intro-container {
    display: none;
    }
}


  
  @media (max-width: 320px) {
      .ecc-intro-container .ecc-menu-stacked .ecc-puzzle img {
          display: none;
      }
      .ecc-intro-container .ecc-menu-stacked .ecc-subject {
          width: 100%;
      }
  }
  
  .ecc-intro-container .ecc-menu-stacked #compensatory-access-stacked {
    margin-top: 3px;
    border-color: #bf1e2e;
    background-color: #fff
  }
  
  .ecc-intro-container .ecc-menu-stacked #sensory-efficiency-stacked {
    border-color: #f26a35;
    background-color: #fff
  }
  
  .ecc-intro-container .ecc-menu-stacked #assistive-technology-stacked {
    border-color: #fdb717;
    background-color: #fff
  }
  
  .ecc-intro-container .ecc-menu-stacked #orientation-mobility-stacked {
    border-color: #004e9a;
    background-color: #fff
  }
  
  .ecc-intro-container .ecc-menu-stacked #social-interaction-stacked {
    border-color: #9f1f63;
    background-color: #fff
  }
  
  .ecc-intro-container .ecc-menu-stacked #self-determination-stacked {
    border-color: #0c8342;
    background-color: #fff
  }
  
  .ecc-intro-container .ecc-menu-stacked #independent-living-stacked {
    border-color: #ed215d;
    background-color: #fff
  }
  
  .ecc-intro-container .ecc-menu-stacked #recreation-leisure-stacked {
    border-color: #199ad6;
    background-color: #fff
  }
  
  .ecc-intro-container .ecc-menu-stacked #career-education-stacked {
    border-color: #753b97;
    background-color: #fff
  }
  
  .ecc-intro-container .eccwheel-region-stacked:hover, .ecc-intro-container .eccwheel-region:hover .eccwheel-region:focus {
    color: #444;
  }
    
/* MDVI Bullet List */

#content article ul > li:before, .formatted-lists ul > li:before {
    content: none !important;
}

.mdvi-bullet-list li {
    border: 5px solid;
    border-radius: 70px;
    padding: 32px 3px;
    padding-left: 150px !important;
	background-position: -0.5% center;
	background-repeat: no-repeat;
	background-size: 125px auto !important;
	text-indent: unset;
    list-style: none;
    margin-bottom: 14px;
}

.mdvi-bullet-list li img {
    display: none;
}

li.mdvi-1 {
    border-color: #00AF98;
    background-image: url("img/Early_Identification_Color_Icon-01.png");
}

li.mdvi-2 {
    border-color: #FF9E16;
    background-image: url("img/Early_Intervention_Color_Icon-01.png");
    background-position: 100.5% center;
    padding-right: 150px !important;
    padding: 18px;
}


@media (max-width: 1215px) {
    li.mdvi-2 {
        padding: 18px;
        }
}

@media (max-width: 1140px) {
    li.mdvi-2 {
        padding: 5px;
        }
}

li.mdvi-3 {
    border-color: #1D4F90;
    background-image: url("/responsive-css/img/Early_Childhood_Education_Color_Icon-01.png");
}


li.mdvi-4 {
    border-color: #FD5373;
    background-image: url("/responsive-css/img/Primary_Secondary_Ed_Color_Icon-01.png");
    background-position: 100.5% center;
    padding-right: 150px !important;
    padding: 32px 20px;
}

@media (max-width: 1202px) {
    li.mdvi-4 {
        padding: 16px 20px;
        }
}

@media (max-width: 1147px) {
    li.mdvi-1 {
        padding: 18px;
        }
}

@media (max-width: 1082px) {
    li.mdvi-4 {
        padding: 18px;
        }
}

li.mdvi-5 {
    border-color: #DD5F13;
    background-image: url("/responsive-css/img/Family_Involvement_Color_Icon-01.png");
    padding: 18px 3px;
}

li.mdvi-6 {
    border-color: #772e4a;
    background-image: url("/responsive-css/img/healh_color_icon_v2-01.png");
    padding: 30px;
    background-position: 100.5% center;
    padding-right: 150px !important;
}

@media (max-width: 1200px) {
    li.mdvi-3 {
        padding: 15px;
        }
}


@media (max-width: 1074px) {
    li.mdvi-3 {
        padding: 30px 3px;
        }
}

@media (max-width: 1055px) {
    li.mdvi-5 {
        padding: 15px 10px;
        }
}

@media (max-width: 1050px) {
    li.mdvi-5 {
        padding: 13px 10px;
        }
}

@media (max-width: 1045px) {
    li.mdvi-5 {
        padding: 0px 10px;
        }
}

@media (max-width: 1016px) {
    li.mdvi-1 {
        padding: 17px 3px;
        }
}


@media (max-width: 1000px) {
    li.mdvi-1 {
        padding: 33px 3px;
        }
    li.mdvi-3 {
        padding: 32px 3px;
        }
    li.mdvi-4 {
        padding: 18px;
        }
    li.mdvi-5 {
        padding: 15px;
        }
}

@media (max-width: 987px) {
    li.mdvi-1 {
        padding: 18px 3px;
        }
}

@media (max-width: 924px) {
    li.mdvi-3 {
        padding: 32px 3px;
        }
    li.mdvi-4 {
        padding: 18px 3px;
        }
}

@media (max-width: 922px) {
    li.mdvi-3 {
        padding: 32px 3px;
        }
    li.mdvi-4 {
        padding: 18px;
    }
}

@media (max-width: 914px) {
    li.mdvi-3 {
        padding: 32px 3px;
        }
}

@media (max-width: 890px) {
    li.mdvi-5 {
        padding: 13px;
        }
}
@media (max-width: 888px) {
    li.mdvi-5 {
        padding: 13px 0px;
        }
}        
@media (max-width: 880px) {
    li.mdvi-5 {
        padding: 4.5px;
        }
}
@media (max-width: 860px) {
    li.mdvi-1 {
        padding: 23px 3px;
        }
    li.mdvi-2 {
        padding: 23px 3px;
        }
    li.mdvi-3 {
        padding: 35px 3px;
        }
    li.mdvi-4 {
        padding: 24px 3px;
        }
    li.mdvi-5 {
        padding: 25px 20px;
    }
}


/* mobile infographic */

@media (max-width: 800px) {
    ul.mdvi-bullet-list {
        text-align: center;
    }
    .mdvi-bullet-list li {
        padding: 60px 50px 30px 50px !important;
        background-image: none;
        margin-bottom: 60px !important;
        display: flex;
        justify-content: center;
    }
    .mdvi-bullet-list li img {
        display: block;
        position: absolute;
        width: 100px;
        top: -50px;
    }
}

/* Foundations Bullet List */

.key-features {
    border: 1px solid black;
    padding: 20px 20px 0px 20px;
    margin-bottom: 30px;
}

.learn-outcomes li:before, .learn-outcomes ul > li:before {
    content: none !important;
}

.learn-outcomes p {
    margin-bottom: 0px;
}

.learn-outcomes li {
    border: 5px solid;
    border-radius: 70px;
    padding: 15px 20px;
    padding-left: 155px !important;
	background-position: 2% center;
	background-repeat: no-repeat;
	background-size: 125px auto !important;
	text-indent: unset !important;
    list-style: none;
    margin-bottom: 14px;
}

.learn-outcomes li img {
    display: none;
}

.learn-1 {
    border-color: #1D4F90 !important;
    background-image: url("/responsive-css/img/Learners_Icon-01.png");
}

.learn-2 {
    border-color: #DE1B4F !important;
    background-image: url("/responsive-css/img/Communication_Icon-01.png");
}

.learn-3 {
    border-color: #008342 !important;
    background-image: url("/responsive-css/img/Assessment_Icon-01.png");
}

.learn-4 {
    border-color: #F05D3E !important;
    background-image: url("/responsive-css/img/Teaching_Icon-01.png");
}

/* mobile version */

@media (max-width: 800px) {
    ul.learn-outcomes {
        margin-top: 70px !important;
        text-align: center;
    }
    .learn-outcomes li {
        padding: 60px 50px 30px 50px !important;
        background-image: none;
        margin-bottom: 60px !important;
        display: flex;
        justify-content: center;
    }
    .learn-outcomes li img {
        display: block;
        position: absolute;
        width: 100px;
        top: -50px;
    }
}